
*.log
*.log
Library/ArtifactDB
Library/Artifacts/1f/1f6a068c92fb82626abc243755692580
Library/Artifacts/4d/4d0b0b04492bfd7fcd3ecb40d7faf921
Library/Artifacts/d8/d83c8d39604877b9212e3e0e74536ea2
Library/Artifacts/f8/f82939cbd9d400760dc3f8e956cb4588
Library/EditorInstance.json
Library/SourceAssetDB
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
Logs/shadercompiler-UnityShaderCompiler.exe5.log
Logs/shadercompiler-UnityShaderCompiler.exe6.log
Logs/shadercompiler-UnityShaderCompiler.exe7.log
Logs/shadercompiler-UnityShaderCompiler.exe8.log
Temp/UnityLockfile
Temp/workerlic
